# SPDX-FileCopyrightText: 2023-2024 Sony Semiconductor Solutions Corporation
#
# SPDX-License-Identifier: Apache-2.0

.DS_Store
.doc-venv
*~
#*#
__pycache__
/coverage
*.swp
.git-stamp-*
/cmake
*.o
*.wo
*.a
*.so
*.d
*.su
/*.tar.gz
/*.deb
*.whl
*.zip
*.elf
*.wasm
*.wrap
*.aot
*.xip
*.signed
*.gcda
*.gcno
*.log
*.res
tools/module_key.bin
deps.mk
compile_commands.json
analysis.txt
/docs/build/
/docs/changelog.md
test/lorem-ipsum

# Headers
/include/*
!/include/internal
!/include/evp
!/include/evp_mbedtls_config.h

.config

/lib
/bin
/test/logs
/config.mk
*.idx
.cache
.venv/
*.core
/dist
/src/python-evp-app-sdk/dist-stamp
/src/sdkenc/stamp
/src/sdkenc/*.h
/include/sdkenc/*.h
